**/.editorconfig
**/.env*
**/.git*
**/.idea
**/.mono
**/.vs*

**/.docker*
**/.kubernetes
**/Dockerfile*

**/node_modules
**/obj
**/bin
**/coverage*

**/LICENSE
**/Makefile
**/README.md

**/helm-charts
