forecast.{$CNAME} {
  redir https://www.forecast.{$CNAME}
}

www.forecast.{$CNAME} {
  reverse_proxy client:3000
}

api.forecast.{$CNAME} {
  reverse_proxy api:8080
}

pgadmin.forecast.{$CNAME} {
  reverse_proxy pgadmin:80
}
